body {
    margin: 0px;
    background-image: url( "back0.webp" );
    background-size: cover;
}
#imgAccueil {
    margin: 0px;
    display: block;
    width: 100%;
    height: 300px;
}
#navbar ul {
    margin: 0px;
    text-align: center;
    list-style-type: none;
    padding: 15px;
}
#navbar {
    margin-bottom: 100px;
}
#navbar ul li {
    display: inline-block;
    padding: 10px;
    border: 3px solid green;
    border-radius: 60px;
    margin-right: 10px;
}
#navbar ul li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
li:hover {
    background-color: green;
}

#contenu {
    width: 80%;
    margin: auto;
    font-size: 40px;
    margin-top: 13%;
    color: orangered;
    opacity: 0.5;
    margin-left: 15%;
}